<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>scholar stack</title>

    <script>
    document.addEventListener("DOMContentLoaded", ()=>{
      /* TODO: "fetch" the data at: https://quotable.io/random and update an element in the DOM with the"content" and "author" */
      fetch('https://quotable.io/random')
      .then((response) => response.json())
      .then((json) => {
        // console.log(json)
        const alert =  document.getElementById("quote") 
        alert.textContent = `${json.content} - ${json.author}`
      })
    })
    </script>
</head>
<body>

    <%- include('partials/navbar') %>
    <div id="quote" role="alert" class="alert alert-warning">
      <!-- <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg> -->
      <!-- quote here -->
    </div>
    <div class="grid grid-cols-3 gap-4">

        <% journals.forEach((journal) => { %>

          <div class="card w-96 bg-base-100 shadow-xl">
            <!-- <figure><img src="<%= journal.url%>" alt="Publication" /></figure> -->
            <iframe src="<%=journal.url%>" title="url"></iframe>



            <div class="card-body">
              <h2 class="card-title"><%= journal.name%></h2>
    

              <p><%= journal.url%></p>

            </div>
          </div>
        <%})%>

      </div>
</body>
</html>