<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>scholar stack</title>
</head>
<body>

    <%- include('partials/navbar') %>
    <div class="grid grid-cols-3 gap-4">

        <% journals.forEach((journal) => { %>

          <div class="card w-96 bg-base-100 shadow-xl">
            <!-- <figure><img src="<%= journal.url%>" alt="Publication" /></figure> -->
            <iframe src="<%=journal.url%>" title="url"></iframe>



            <div class="card-body">
              <h2 class="card-title"><%= journal.name%></h2>
    

              <p><%= journal.url%></p>

            </div>
          </div>
        <%})%>

      </div>
</body>
</html>